p{
    color: black;
}

button.st-emotion-cache-19rxjzo.ef3psqc12{
    background-color: white;
    /* color: white; */
    border: 1px solid #1A1432; 
}

header{
    background-color: black;
    color: white;
}