div.st-emotion-cache-1n76uvr.e1f1d6gn1{
    margin-top: 8%;
    /* border: 1px solid #000000;  */
}

img{
    margin-top: 45%;
    /* width: 300px; 
    height: 100px;  */
}

div.st-emotion-cache-1njjmvq.e1f1d6gn1, p, span.st-emotion-cache-10trblm.e1nzilvr1, label{
    color: black;
}

button.st-emotion-cache-19rxjzo.ef3psqc12, section.main.st-emotion-cache-uf99v8.ea3mdgi5 {
    background-color: #ffffff;
    border: 1px solid #000000; 
}
/* 
header.st-emotion-cache-1avcm0n.ezrtsby2{
    background-color: #ffffff;
    color: black;
} */

body {
    overflow: hidden;
    text-align: center;
}

header{
    background-color: black;
    color: white;
}

img, .img{
    border-top: 40%;
    size: 80%;
}

/* body{
    background-color: #ffffff;
    color: black;
} */
/* 
input, .label, label{
    background-color: #ffffff;
    color: black;
}

div.st-emotion-cache-keje6w e1f1d6gn2{
    border-top: 40%;
    size: 80%;
}

div.st-emotion-cache-1njjmvq.e1f1d6gn1{
    background-color: #ffffff;
    color: black;
} */

/* .st-emotion-cache-1wmy9hl, .st-emotion-cache-1v0mbdj, .st-emotion-cache-1kyxreq, .st-emotion-cache-1v0mbdj{
    border-top: 40%;
    size: 80%;   
}

span.st-emotion-cache-10trblm.e1nzilvr1{
    border-top: 10%;   
}

div.st-emotion-cache-keje6w.e1f1d6gn2{
    border-top: 40%;
    size: 80%;  
}

div.st-emotion-cache-ocqkz7.e1f1d6gn4{
    border-top: 40%;
    size: 80%;     
} */
