header{
    background-color: black;
    color: white;
}

h1{
    color: black; 
}


div.st-expander.stEmotionContainer.e1oz9kzw0 div.st-emotion-cache-1d8jygy.e1oz9kzw1 {
    color: black;
}


button.st-emotion-cache-19rxjzo.ef3psqc12{
    background-color: black;
    color: white;
}


span{
    color:black
}    

div.st-emotion-cache-16idsys.e1nzilvr5{
    color: white;
}

div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4{
    padding: 2%;
}

button.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color: black;
}

button.st-emotion-cache-ch5dnh.ef3psqc5, button.st-emotion-cache-6q9sum.ef3psqc4{
    color: white;
}