.sidebar{
    background-color: #292929;
    color: white;
    position: fixed;
}

div.stSlider, div.st-e3.st-b9.st-ew{
    background-color: white;
    color: black;
}

section.main.st-emotion-cache-uf99v8.ea3mdgi5{
    background-color: white;
    color: black;
}

section.st-emotion-cache-vk3wp9.eczjsme11{
    background-color: #292929;
}

div.st-emotion-cache-16idsys.e1nzilvr5{
    color: black;
}

div.st-emotion-cache-1vbkxwb.e1nzilvr5{
    color: white
}

div.st-b4.st-d1.st-d2.st-d3.st-d4.st-d5.st-d6{
    color: white;
    background-color: #292929;
}

label.st-emotion-cache-ue6h4q.e1y5xkzn3{
    color: white;
}