.sidebar{
    background-color: #292929;
    color: black;
}

div.stSlider, div.st-e3.st-b9.st-ew{
    background-color: white;
    color: black;
}

section.main.st-emotion-cache-uf99v8.ea3mdgi5{
    background-color: white;
    color: black;
}

div.st-emotion-cache-1vzeuhh.ew7r33m3{
    background-color: #292929;
    color: black
}

section.st-emotion-cache-vk3wp9.eczjsme11{
    background-color: #292929;
}

/* div.st-emotion-cache-16idsys.e1nzilvr5{
    color: white;
} */

div.st-emotion-cache-1vbkxwb.e1nzilvr5{
    color: white
}
