.sidebar{
    background-color: black;
    color: white;
}

div.stSlider, div.st-e3.st-b9.st-ew{
    background-color: white;
    color: black;
}

/* section.main.st-emotion-cache-uf99v8.ea3mdgi5{
    background-color: white;
    color: black;

}

div.st-emotion-cache-1vzeuhh.ew7r33m3{
    color: black
} */